[Unit]
Description=Phoniebox NeoTrellis Control Service
After=network.target iptables.service firewalld.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/RPi-Jukebox-RFID/components/gpio_control/neotrellis
ExecStart=/bin/bash -c 'python3 /home/pi/RPi-Jukebox-RFID/components/gpio_control/neotrellis/buttons.py'
SyslogIdentifier=PhonieboxNeoTrellisControl
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target